$icomoon-font-family: "my-cv" !default;
$icomoon-font-path: "fonts" !default;

$my-cv__icon--home: "\e900";
$my-cv__icon--map2: "\e94c";
$my-cv__icon--calendar: "\e953";
$my-cv__icon--hammer: "\e996";
$my-cv__icon--trophy: "\e99e";
$my-cv__icon--briefcase: "\e9ae";
$my-cv__icon--airplane: "\e9af";
$my-cv__icon--menu3: "\e9bf";
$my-cv__icon--earth: "\e9ca";
$my-cv__icon--wondering: "\e9fb";
$my-cv__icon--plus: "\ea0a";
$my-cv__icon--info: "\ea0c";
$my-cv__icon--google-plus2: "\ea8c";
$my-cv__icon--facebook2: "\ea91";
$my-cv__icon--twitter: "\ea96";
$my-cv__icon--youtube: "\ea9d";
$my-cv__icon--github: "\eab0";
$my-cv__icon--skype: "\eac5";
$my-cv__icon--linkedin: "\eac9";
$my-cv__icon--stackoverflow: "\ead0";
$my-cv__icon--file-word: "\eae1";
$my-cv__icon--html-five: "\eae4";

