.about-me {
  background-image: linear-gradient(to bottom, #3bbcfc 40%, #3399ff 100%);
  margin-top: 4px;
}


.about-me__avatar {
  width: 100%;
  border-radius: 50%;
  border: 0.3rem solid #3399ff;
}

.about-me__header {
  text-shadow: 3px 3px #3399ff;
  color: #0d0e63;
  @extend %header;
}

.about-me__avatar-wrapper {
  max-width: 50%;
  margin: 1rem auto;
  border: 0.3rem solid rgba(#c1e8fa, 0.9);
  border-radius: 50%;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    // border: 0.3rem solid rgba(#c1e8fa, 0.9);
    top: -1.5rem;
    bottom: -1.5rem;
    right: -1.5rem;
    left: -1.5rem;
    border-radius: 50%;
  }
}

.about-me__full-name {
  font-size: 2.5rem;
}

.about-me__full-title {
  font-size: 2rem;
}

.about-me__title {
  font-size: 2rem;
}

.about-me__full-name,
.about-me__title,
.about-me__full-title {
  color: #c1e8fa;
  padding: 0 1rem 2rem;
  text-align: center;
  text-shadow: 2px 2px #368fe9;
}

.about-me__slogan,
.about-me__content {
  font-size: 1.7rem;
  text-align: justify;
  padding: 1rem;
  text-indent: 2rem;
  color: #0d0e63;
}

.about-me__link-list {
  text-align: center;
  padding-bottom: 1rem;
}

.about-me__link {
  display:inline-block;
  width: 90%;
  font-size: 2.5rem;
  text-decoration: none;
  border: 0.4rem solid #c1e8fa;
  border-radius: 1.5rem;
  background-color: ivory;
  color: #0d0e63;
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

.about-me__link-description {
  font-size: 1.5rem;
  line-height: 1.5;
}
